<div class="task-list" layout="column">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>
                <span>{{status | capitalize}}</span>
            </h2>
        </div>
    </md-toolbar>
    <div layout flex>
        <md-list flex dnd-list="taskList" dnd-drop="dropCallback(index, item, status)">
            <li ng-repeat="item in taskList" dnd-draggable="item" dnd-effect-allowed="move" dnd-moved="taskList.splice($index, 1)">
                <task task="item" on-task-click="onTaskClick"></task>
            </li>
        </md-list>
    </div>
</div>