<md-dialog aria-label="{{vm.taskType == 'task' ? 'TASK' : 'BUG'}}">

    <form ng-cloak name="Form">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <i ng-if="vm.taskType == 'task'" class="fa fa-tasks dialog-header-icon"></i>
                <i ng-if="vm.taskType == 'bug'" class="fa fa-bug dialog-header-icon"></i>

                <h2 ng-if="vm.taskType == 'task'">TASK</h2>
                <h2 ng-if="vm.taskType == 'bug'">BUG</h2>
                <span flex></span>
                <md-button aria-label="cancelar" class="md-icon-button" ng-click="vm.cancel()">
                    <i class="fa fa-close"></i>
                </md-button>
            </div>
        </md-toolbar>

        <md-dialog-content>
            <div class="md-dialog-content novo-dialog-content">
                <md-input-container class="md-block">
                    <label>Título:</label>
                    <input type="text" name="taskTitle" ng-model="vm.task.title" placeholder="título" required />
                    <div ng-messages="Form.taskTitle.$error" role="alert" multiple="">
                        <div ng-message="required" class="my-message">Informe o título da task.</div>
                    </div>
                </md-input-container>

                <md-input-container class="md-block">
                    <label>Descrição:</label>
                    <textarea name="taskDescription" ng-model="vm.task.description" placeholder="descrição"></textarea>
                </md-input-container>

                <div flex class="md-block custom-input-container">
                    <label>Responsável:</label>

                    <md-select name="taskAssignee" placeholder="responsável" ng-model="vm.task.assignee" ng-model-options="{trackBy: '$value.id'}">
                        <md-option><em></em></md-option>
                        <md-option ng-repeat="user in vm.userList" ng-value="user" ng-selected="vm.task.assignee == user">
                            {{user.name}}
                        </md-option>
                    </md-select>
                </div>

                <div layout-gt-sm="row">

                    <md-input-container class="md-block">
                        <label>Tempo estimado:</label>

                        <input type="text" ui-mask-placeholder-char="space" name="taskEstimatedTime" placeholder="" ng-model="vm.task.estimatedTime"
                            ui-mask="99:99" model-view-value="true" readonly />
                    </md-input-container>

                    <md-input-container class="md-block">
                        <label>Tempo restante:</label>

                        <input type="text" ui-mask-placeholder-char="space" name="taskTimeLeft" placeholder="" ng-model="vm.task.timeLeft" ui-mask="99:99"
                            model-view-value="true" readonly />
                    </md-input-container>

                    <md-input-container class="md-block">
                        <label>Tempo gasto:</label>

                        <input type="text" ui-mask-placeholder-char="space" name="taskTimeSpent" placeholder="" ng-model="vm.task.timeSpent" ui-mask="99:99"
                            model-view-value="true" readonly />
                    </md-input-container>

                </div>


            </div>
        </md-dialog-content>

        <md-dialog-actions layout="row">
            <span flex></span>
            <md-button aria-label="cancelar" class="md-primary" ng-click="vm.cancel();">
                CANCELAR
            </md-button>
            <md-button aria-label="salvar" ng-disabled="!Form.$valid" class="md-raised md-primary" ng-click="vm.save();">
                SALVAR
            </md-button>

        </md-dialog-actions>
    </form>
</md-dialog>