<div layout-fill layout="column" layout-align="center center" ng-cloak="ng-cloak" class="background-div">
    <md-backdrop ng-show="isLoading" id="loading-backdrop" class="md-opaque md-default-theme">
        <md-progress-circular class="loader" md-mode="indeterminate"></md-progress-circular>
    </md-backdrop>
    
    <div layout="row" layout-align="center center">
        <md-card class="login-card">
            <md-toolbar>
                <div class="md-toolbar-tools">
                    <h2><span>Login</span></h2>
                </div>
            </md-toolbar>
            <md-card-content>
                <form name="Form">
                    <md-input-container class="md-block">
                        <label>URL do Servidor:</label>
                        <input type="text" name="serverUrl" ng-model="vm.formData.serverUrl" placeholder="url do servidor" required="" />
                        <div ng-messages="Form.serverUrl.$error" role="alert" multiple="">
                            <div ng-message="required" class="my-message">Informe a url do servidor.</div>
                        </div>
                    </md-input-container>
                    <md-input-container class="md-block">
                        <label>Usuário:</label>
                        <input type="text" name="username" ng-model="vm.formData.username" placeholder="usuário" required="" />
                        <div ng-messages="Form.username.$error" role="alert" multiple="">
                            <div ng-message="required" class="my-message">Informe seu usuário.</div>
                        </div>
                    </md-input-container>
                    <md-input-container class="md-block">
                        <label>Senha:</label>
                        <input type="password" name="password" ng-model="vm.formData.password" placeholder="senha" required="" />
                        <div ng-messages="Form.password.$error" role="alert" multiple="">
                            <div ng-message="required" class="my-message">Informe sua senha.</div>
                        </div>
                    </md-input-container>
                    <md-button ng-disabled="!Form.$valid" ng-click="vm.doLogin();" class="md-raised md-primary">&nbsp Entrar &nbsp</md-button>
                </form>
            </md-card-content>
        </md-card>
    </div>
</div>