<div layout="row">
    <form name="FilterForm">
        <md-input-container>
            <label>Projeto</label>
            <md-select name="project" required ng-model="vm.projectSelected" ng-model-options="{trackBy: '$value.name'}">
                <md-option ng-repeat="project in vm.projects" ng-value="project" ng-selected="vm.projectSelected == project">
                    {{project.name}}
                </md-option>
            </md-select>
            <div ng-messages="FilterForm.project.$error" role="alert" multiple="">
                <div ng-message="required" class="my-message">Selecione um project.</div>
            </div>
        </md-input-container>

        <md-input-container>
            <label>Sprint</label>
            <md-select ng-model="vm.sprintSelected" ng-model-options="{trackBy: '$value.name'}">
                <md-option><em></em></md-option>
                <md-option ng-repeat="sprint in vm.sprints" ng-value="sprint" ng-selected="vm.sprintSelected == sprint">
                    {{sprint.name}}
                </md-option>
            </md-select>
        </md-input-container>

        <md-button ng-disabled="!FilterForm.$valid" ng-click="vm.aplicarFiltro();" class="md-raised md-primary">&nbsp APLICAR FILTRO &nbsp</md-button>
        <md-button ng-cloak ng-show="FilterForm.$valid && (vm.projectSelected != $root.project || vm.sprintSelected != $root.sprint)" ng-click="vm.desfazerAlteracoes();" class="md-raised md-warn">&nbsp DESFAZER &nbsp</md-button>
        <label ng-cloak ng-show="FilterForm.$valid && (vm.projectSelected != $root.project || vm.sprintSelected != $root.sprint)" class="warning-label">* Existem alterações ainda não aplicadas</label>
    </form>
</div>